<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="$title$">
<title>$title$</title>
<link rel="stylesheet" href="/static/default.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/static/note.css" type="text/css" media="screen" charset="utf-8">
<link rel="shortcut icon" href="about:blank">
<script src="/static/load-mathjax.js" async></script>
</head>
<body>
<h1>$title$</h1>
<p class="meta">
# created: $created$, last update: $last-update$
<br>
# author: <a href="/">Orpheus</a>, status: $status$
</p>
$body$
</body>
</html>